.nav-container {
  text-align: center;
  background-color: #0aa1dd;
  width: 20%;
  // height: 98vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .nav-avatar {
    img {
      border: 0.5rem solid rgba(255, 255, 255, 0.2);
    }
  }

  .nav-links {
    padding: 0px;

    li {
      color: black;
      font-size: 15px;
      padding: 0px 15px 20px;
      cursor: pointer;
      text-transform: capitalize;
      list-style-type: none;
      font-family: 'Poppins';
    }

    a {
      text-decoration: none;
    }
  }
}
